{% extends "templates/page.html" %}

{% block page %}

<div class="container container_theme_pale">

  <div class="content content_theme_pale">
    <h1>Hello world</h1>

    <p>
      <button type="button" class="button button_theme_pale button_view_action">Button</button>
      <button type="button" class="button button_theme_pale button_view_pseudo">Button</button>
      <button type="button" class="button button_theme_pale">Button</button>
      <a href="" class="button button_type_link button_theme_pale">Button</a>
    </p>
    <p>
      <button type="button" class="button button_size_xs button_theme_pale button_view_action">Button</button>
      <button type="button" class="button button_size_s button_theme_pale button_view_action">Button</button>
      <button type="button" class="button button_size_m button_theme_pale button_view_action">Button</button>
      <button type="button" class="button button_size_l button_theme_pale button_view_action">Button</button>
      <button type="button" class="button button_size_xl button_theme_pale button_view_action">Button</button>
    </p>

    <p class="button-group">
      <button type="button" class="button button_theme_pale button_view_pseudo">Button</button>
      <button type="button" class="button button_theme_pale button_view_pseudo">Button</button>
      <button type="button" class="button button_theme_pale button_view_pseudo hint" aria-label="Thank you!">Button</button>
    </p>

    <p>Text with <span class="hint hint_left" aria-label="Thank you!"><em>hint</em></span>.</p>
    <p>Text with multiline <span class="hint hint_size_s" aria-label="Thank you! Adding a hint--bounce class gives you that..."><em>hint</em></span>.</p>

    <p><span class="hint" aria-label="Thank you!">Hint bottom</span>
    <span class="hint hint_top" aria-label="Thank you!">Hint top</span>
    <span class="hint hint_right" aria-label="Thank you!">Hint right</span>
    <span class="hint hint_left" aria-label="Thank you!">Hint left</span></p>

    <p><span class="hint hint_size_s" aria-label="Thank you! Adding a hint--bounce class gives you that...">Hint small</span>
    <span class="hint hint_size_m" aria-label="Thank you! Adding a hint--bounce class gives you that...">Hint medium</span>
    <span class="hint hint_size_l" aria-label="Thank you! Adding a hint--bounce class gives you that...">Hint large</span></p>

    <div class="media media_theme_pale">
      <div class="media__object"><img src="" width="50" height="50" alt="image"></div>
      <div class="media__body">
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>

    <p><img src="" alt="Basic" width="50" height="50" class="image">
    <img src="" alt="Fluid" width="50" height="50" class="image image_fluid">
    <img src="" alt="Rounded" width="50" height="50" class="image image_rounded">
    <img src="" alt="Circle" width="50" height="50" class="image image_circle"></p>

    <p>
      <a href="#" class="link">Link</a>
    </p>

    <table class="table table_theme_pale table_bordered table_condensed table_striped table_hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>

    <div class="spacer spacer_p-a-1 text text_bg_100">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>

    <div class="spacer spacer_p-a-2 text text_center text_size_l text_color_primary text_bg_300">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>

    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>

    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    <p><del>This line of text is meant to be treated as deleted text.</del></p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>
  </div>
</div>

{% endblock page %}
